<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

<h1> Data Science Tools and Ecosystem </h1>

<h4> In this notebook, Data Science Tools and Ecosystem are summarized. </h4>

<h5> <b> Objectives: </b> </h5>

- List popular languages in Data Science
- List some libraries used in Data Science
- List Data Science Tools

<h5> Some of the popular languages that Data Scientists use are: </h5>

1. Python
2. R
3. SQL

<h5> Some of the commonly used libraries used by Data Scientists include: </h5>

1. Pandas
2. Scikit
3. NumPy

Data Science Tools |
-----------
Jupiter |
Apache Zeppelin|
RStudio |
Spyder |

<h3> Below are a few examples of evaluating arithmetic expressions in Python </h3>

In [7]:
# This a simple arithmetic expression to mutiply then add integers

In [5]:
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60

200 // 60

3

<h2> Author </h2> Olga