<h1>Data Science tools and Ecosystem</h1>

### In this notebook, Data Science Tools and Ecosystem are summarized.

<h5> Some of the popular languages that Data Scientists use are: </h5>

1. Python
2. HTL
3. R
4. Julia

<h5><b> Objectives: </b></h5>

- List some of the most popular Data Science languages
- List some of the commonly used libraries used by Data Scientists 
- List some Data Science tools

<h5> Some of the commonly used libraries used by Data Scientists include: </h5>

1. Pandas
2. NumPy
3. Matplotlib

Data Science Tools |
----------
Apache Airflow 
Git 
Hadoop

<h3> Below are a few examples of evaluating arithmetic expressions in Python </h3>

In [3]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60

total_minutes = 200

# Get hours with floor division
hours = total_minutes % 60

# Get additional minutes with modulus
minutes = total_minutes % 60

# Create time as a string
time = "{}:{}".format(hours, minutes)

print(time)

20:20

<h2> Author </h2>
Olya